* {
  box-sizing: border-box;
}

.component-wrapper {
  padding: 30px 0px 40px;
  font-family: "Poppins", sans-serif;
}

.inner {
  display: flex;
  background: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

/* learn to code by ... */

.description {
  width: 50%;
  padding: 250px 35px 200px 350px;
  color: #fff;
}

.description-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 3rem;
}

.description-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

.form-section {
  width: 50%;
  padding: 100px 350px 100px 20px;
}

/* call to action */
.cta {
  margin-bottom: 20px;
  text-align: center;
  overflow: initial;
  border-radius: 7px;
  box-shadow: 0px 5px hsl(0, 0%, 0%, 0.2);
  line-height: 1.5;
}
.cta a {
  display: block;
  position: relative;
  padding: 10px 50px;
  background-color: hsl(248, 32%, 49%);
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
}

.cta a:hover {
  box-shadow: 0px 0px 5px hsl(0, 0%, 16%);
}

.init-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0px 7px hsl(0, 0%, 0%, 0.2);
}

/* INPUTS */
.right-inner-addon {
  position: relative;
  padding: 1px;
  margin-bottom: 12px;
}

.right-inner-addon input {
  width: 100%;
  display: block;
  padding: 13px 20px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
}

.right-inner-addon img {
  position: absolute;
  top: 9px;
  right: 15px;
  visibility: hidden;
}

.init-form input::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(246, 25%, 77%);
}

.init-form input:focus {
  border: 1px solid hsl(248, 32%, 49%);
  outline: none;
  transition: 0.5s;
}

.init-form input:hover {
  box-shadow: 0px 2px 2px hsl(248, 32%, 49%);
}

/* claim your free ... */
.btn-submit {
  padding: 13px 20px;
  border: none;
  //border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.btn-submit:hover {
  box-shadow: 0px 0px 5px hsl(0, 0%, 16%);
}

/* error messages styles */
.error-message {
  display: block;
  float: right;
  margin: 5px 0 0;
  font-family: "Poppins", sans-serif;
  color: #ff7979;
  font-size: 0.8rem;
  font-style: italic;
}

input[type="email"].formInvalid::-webkit-input-placeholder {
  color: #ff7979;
  font-size: 1rem;
}

.init-form footer {
  color: hsl(246, 25%, 77%);
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5;
}

.init-form footer a {
  color: hsl(0, 100%, 74%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 1 - RESPONSIVITY */
@media screen and (max-width: 768px) {
  .component-wrapper {
    padding: 5px 0px;
  }

  .inner {
    flex-direction: column;
  }

  /* learn to code by ... */
  .description,
  .form-section {
    padding: 20px;
  }

  .description {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
  }

  .description-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.7rem;
  }

  .description-subtitle {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
  }

  .form-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .init-form {
    padding: 15px;
  }
}

/* 2 - RESPONSIVITY */

@media (min-width: 769px) and (max-width: 1024px) {
  .component-wrapper {
    padding: 5px 0px;
  }

  .inner {
    flex-direction: column;
  }

  .description,
  .form-section {
    padding: 50px 100px 10px;
  }
  .description {
    width: 100%;
    text-align: center;
  }

  .description-title {
    margin-bottom: 10px;
  }

  .description-subtitle {
    font-size: 1.2rem;
  }

  .form-section {
    width: 100%;
    margin-bottom: 30px;
  }

  .init-form {
    padding: 15px;
  }
}

/* 3 - RESPONSIVITY */
@media (min-width: 1025px) and (max-width: 1330px) {
  .component-wrapper {
    padding: 20px 0px;
  }
  .inner {
    padding-bottom: 40px;
  }

  .description {
    width: 50%;
    padding: 180px 15px 5px 100px;
  }

  .description-title {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  .description-subtitle {
    font-size: 0.9rem;
  }

  .form-section {
    width: 50%;
    padding: 50px 100px 5px 15px;
  }

  .init-form {
    padding: 15px;
  }
}

/* 4 - RESPONSIVITY */
@media (min-width: 1331px) and (max-width: 1450px) {
  .component-wrapper {
  }

  .inner {
    padding-bottom: 80px;
  }

  .description {
    width: 50%;
    padding: 230px 20px 20px 200px;
  }

  .description-title {
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .description-subtitle {
    font-size: 1rem;
    font-weight: 500;
  }

  .form-section {
    width: 50%;
    padding: 100px 200px 10px 20px;
  }

  .init-form {
    padding: 30px;
  }
}

/* 4 - RESPONSIVITY */
@media (min-width: 1451px) and (max-width: 1680px) {
  .description {
    width: 50%;
    padding: 210px 20px 20px 200px;
  }

  .description-title {
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .description-subtitle {
    font-size: 1rem;
    font-weight: 500;
  }

  .form-section {
    width: 50%;
    padding: 100px 200px 20px 20px;
  }

  .init-form footer {
    font-size: 0.5rem;
  }
}
